<!-- Yello slider banner -->
<section class="relative z-10">

  <div class="bg-customYellow text-black py-4 overflow-hidden relative">
    <div class="whitespace-nowrap animate-marquee" >
      <span class="inline-block font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl">
        UNFORGETTABLE MEMORIES <span class="mx-2">✦</span> CREATING UNFORGETTABLE MEMORIES
        <span class="mx-2">✦</span> UNFORGETTABLE MEMORIES <span class="mx-2">✦</span> CREATING UNFORGETTABLE MEMORIES
        <span class="mx-2">✦</span> UNFORGETTABLE MEMORIES <span class="mx-2">✦</span> CREATING UNFORGETTABLE MEMORIES
        <span class="mx-2">✦</span> UNFORGETTABLE MEMORIES <span class="mx-2">✦</span> CREATING UNFORGETTABLE MEMORIES
        <span class="mx-2">✦</span> UNFORGETTABLE MEMORIES <span class="mx-2">✦</span> CREATING UNFORGETTABLE MEMORIES
      </span>
    </div>
  </div>
  
</section>